<div class="container mb-5">
  <nav class="navbar navbar-expand-lg navbar-light border border-left-0 border-right-0 border-dark" style="background-color: #ffffff;">
      <a class="navbar-brand mb-0 h1" href="/">Wikix</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wikis">Wikis</a>
          </li>
          <% if(currentUser) { %>
          <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#logOutModalCenter">
                Log Out
              </a>
          </li>
            <% } else { %>
          <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#logInModalCenter">
                Log In
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Sign Up</a>
          </li>
          <% }%>
        </ul>
      </div>
  </nav>

  <% if(currentUser) { %>
    <%  include ../../users/log_out_modal.ejs %>
  <% } else { %>
      <%  include ../../users/log_in_modal.ejs %>
  <% } %>

</div>