<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <div
        class="d-flex align-items-center justify-content-between p-3 my-3 text-white-50 rounded shadow-sm"
        style="background-color: #6b6b6b;"
      >
        <div class="lh-100">
          <h2 class="mb-0 text-white lh-100">New Wiki</h2>
        </div>
      </div>
      <form action="/wikis/create" method="POST">
        <div class="form-group">
          <label for="InputEmail1">Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="wikiTitel"
            aria-describedby="wikiHelp"
            placeholder="Title"
          />
          <small id="wikiHelp" class="form-text text-muted"
            >The title cannot be empty.</small
          >
        </div>
        <div class="form-group">
          <label for="InputPassword1">Text</label>
          <textarea
            class="form-control"
            name="body"
            id="wikiBody"
            rows="5"
            placeholder="Text"
          ></textarea>
        </div>
        <% if(currentUser && (currentUser.role == 1 || currentUser.role == 10)) { %>
        <div class="form-group custom-control custom-switch">
          <input type="checkbox" class="custom-control-input" id="privateCheck" name="private" value="true">
          <label class="custom-control-label" for="privateCheck">Private</label>
        </div>
        <br>
        <% } %>
        <button type="submit" class="btn btn-dark">Submit</button>
        <a href="/wikis/" class="btn btn-dark">Cancel</a>
      </form>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
